!!! 5
html(lang='en')  
	head  
		title Vine Stream |  watch the six seconds world

		block scripthead
			meta(name='viewport', content='width=device-width, initial-scale=1.0')
			link(rel='stylesheet', href='/css/bootstrap.css', media='screen')
			link(href="css/bootstrap-responsive.css", rel="stylesheet")
		block trackid
			script(type='text/javascript')
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-27636109-2']);
				_gaq.push(['_setDomainName', 'vinestream.co']);
				_gaq.push(['_trackPageview']);

				(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();

		block scripts
	body(style="padding-top: 60px;")
		block header
			div(class="navbar navbar-inverse navbar-fixed-top")
				div(class="navbar-inner")
					div(class="container-fluid")
						button(type="button", class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse")
							span(class="icon-bar")
							span(class="icon-bar")
							span(class="icon-bar")
						a(class="brand",href="#")
							|Vine Stream
						div(class="nav-collapse collapse")
							ul(class="nav")
								li(class="active")
									a(href="#")
										|Home

		block content
		block scriptfoot
		block scriptfooter
			script(src="js/jquery.js")
			script(src="js/bootstrap-transition.js")
			script(src="js/bootstrap-alert.js")
			script(src="js/bootstrap-modal.js")
			script(src="js/bootstrap-dropdown.js")
			script(src="js/bootstrap-scrollspy.js")
			script(src="js/bootstrap-tab.js")
			script(src="js/bootstrap-tooltip.js")
			script(src="js/bootstrap-popover.js")
			script(src="js/bootstrap-button.js")
			script(src="js/bootstrap-collapse.js")
			script(src="js/bootstrap-carousel.js")
			script(src="js/bootstrap-typeahead.js")
		block footer
			hr
			footer
				p(style="text-align:center")
					| Created by 
					a(href="http://github.com/gaohao")
						| Gao Hao

