!!! 5
html(lang='en')  
	head  
		title Vine Stream

		block scripthead
			meta(name='viewport', content='width=device-width, initial-scale=1.0')
			link(rel='stylesheet', href='/css/bootstrap.min.css', media='screen')
		block trackid
			script(type='text/javascript')
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-27636109-2']);
				_gaq.push(['_setDomainName', 'vinestream.co']);
				_gaq.push(['_trackPageview']);

				(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();

		block scripts
	body(style="text-align:center")
		block header
			div(class='container-narrow')
				div(class='row')
					div(class='span12')
						p
							| Hello
		block content
		block scriptfoot
		block footer
			div(class='container-narrow')
				div(class='row')
					div(class='span12')
						div(style="text-align:center")
							| Created by 
							a(href="http://github.com/gaohao")
								| Gao Hao

